/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	&:focus {
		background-color: $color__background-button;
		border-radius: 3px;
		clip: auto !important;
		clip-path: inset(0);
		color: $color__text-light;
		display: block;
		@include font-size(0.875);
		font-weight: 700;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 1em 2em 1.1em;
		outline-offset: -4px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}
