h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	line-height: 1.2;
	margin: 0 0 1rem;
}

.single-post .entry-title {
	margin-bottom: 0.5rem;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	padding-top: 1rem;
}

h1,
.heading-one {
	@include font-size(1.5);
}

h2 {
	@include font-size(1.25);
}

h2 {
	@include font-size(1.25);
}

h3 {
	@include font-size(1.125);
}

h4,
.heading-medium,
.page-template-templates .grid-wrapper-3cl h2 {
	@include font-size(1);
}

.heading-medium,
.widget-title {
	font-weight: 500;
	line-height: 1.4;
}

.widget-title {
	font-size: 1em;
}

.main-widget-area .widget-title {
	background-color: $color__background-screen;
	border-left: 3px solid $color__background-element;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}

body span.entry-subtitle {
	color: $color__text-main;
	font-size: 0.88888888em;
}

.page-title,
.entry-subtitle.archive-description {
	text-shadow: 0 1px 1px rgba( $color__background-black, 0.2)
}

@media screen and (min-width: $break__point-main-grid) {

	h1,
	.heading-one {
		@include font-size(2.125);
	}

	h2 {
		@include font-size(1.75);
	}

	h3 {
		@include font-size(1.5);
	}

	h4,
	.heading-medium,
	.page-template-templates .grid-wrapper-3cl h2 {
		@include font-size(1.125);
	}

	.header-image-content .page-title {
		@include font-size(3.5);
	}

}

.site-title {
	font-size: 1.25em;
	font-weight: 500;
	margin: 0;
}

.site-title,
.site-title a,
.site-title a:visited,
.site-title a:hover,
.site-title a:focus,
.site-title a:active {
	color: $color__text-light;
}

.entry-inner .entry-title {
	font-size: 1.125rem;
	font-weight: 500;
}
