$color__background-body: #f1f4f5;
$color__background-screen: #f5f7f8;
$color__background-hr: #ffd046;
$color__background-button: #0066cc;
$color__background-element: #0066cc;
$color__background-button-sec: #ffd046;
$color__background-button-hover: #333;
$color__background-pre: #f5f7f8;
$color__background-ins: #fff9c0;
$color__background-black: #000;
$color__background-white: #fff;

$color__text-light: #fff;
$color__text-input: #434343;
$color__text-input-focus: #434343;
$color__link: #0066cc;
$color__link-visited: #0066cc;
$color__link-hover: #434343;
$color__text-main: #434343;

$color__border-table: #f5f7f8;
$color__border-input: #0066cc;
$color__border-input-focus: #333;
$color__border-light: #fff;
