$size__site-main: 100%;
$size__site-sidebar: 25%;

$break__point-main-nav-mobile: 62.874em;
$break__point-main-nav: 62.875em;
$break__point-main-grid: 45.875em;
$break__point-contact-form: 40.875em;
$site-width: 1600px;
$max__width-global: 1170px;
$max__width-smaller: 670px;
$max__width-smallest: 600px;
