// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Button block.
@mixin button-block {
	border: 0;
	border-radius: 2px;
	background-color: $color__background-button;
	color: $color__text-light;
	font-weight: 500;
	line-height: 1;
	padding: 0.7em 1.5em 0.75em;
	text-align: center;
	transition: all 0.25s ease-in-out;
}

// Button block on hover and focus.
@mixin button-block-hover {
	background-color: lighten( $color__background-button, 4%);
	@include box-shadow-button();
	color: $color__text-light;
	transform: translateY(-1px);
}

@mixin body-typography {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	word-wrap: break-word;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin max-width-global {
	max-width: 1170px;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Box shadow featured.
@mixin box-shadow-featured() {
	box-shadow: 0px 7px 40px 0px rgba( $color__background-black, 0.15);
}

// Box shadow featured hover.
@mixin box-shadow-featured_hover() {
	box-shadow: 0px 3px 20px 0px rgba( $color__background-black, 0.15);
}

// Box shadow featured.
@mixin box-shadow-button() {
	box-shadow: 0px 1px 15px 0px rgba( $color__background-black, 0.15);
}
